__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/

images/*.sif
/models/hf_model/*
/models/intermediate_chkp/*
/models/megatron_model/*
tensorboard_output/*
examples_deepspeed/finetune_hf_llama/data/*
.env

